@tailwind base;
@tailwind components;
@tailwind utilities;
/* Base styles for cross-browser compatibility */
@layer base {
  html {
/* Text size adjust properties */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  select,
  input[type='file'] {
    /* Appearance properties */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
      appearance: none;
    }
  }
