@tailwind base;
@tailwind components;
@tailwind utilities;
/* Base styles for cross-browser compatibility */
@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  select, input[type="file"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}